<h1>Spiderman</h1>

<dl>
  <td>Nombre: </td>
  <dd>{{name}}</dd>

  <td>Edad: </td>
  <dd>{{ age }}</dd>

  <td>Método: </td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado: </td>
  <dd>{{ capitalizedName }}</dd>

</dl>

<button class="btn btn-primary mx-4"
*ngIf="name !== 'Spiderman'"
(click)="changeHeroName()">cambiar nombre</button>

<button class="btn btn-primary mx-4"
*ngIf="age !== 20"
(click)="changeHeroAge()">cambiar edad</button>


<button class="btn btn-primary mx-4"
(click)="resetHero()">restablecer valores</button>
